body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
div, p, a, ul, li, span, h1, h2, h3, h4, h5{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app {
    height: 100%;
}

